.carousel-caption {
	top: 50%;
	bottom: initial;
	transform: translateY(-50%);
	vertical-align: middle;
}

.landing-content > p {
	margin: 30px;
}

.portal-btn {
	min-height: 150px;
	min-width: 150px;
	margin: 15px;
}

.portal-btn > img {
	display: block;
	margin: 0 auto;
	width: 64px;
	transition: all 0.5s ease;
}

.portal-btn:hover > img {
	filter: brightness(0%);
}

#page-content > div {
	padding-top: 50px;
	padding-bottom: 50px;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -1px;
}