@charset "utf-8";

.navbar-brand a:hover {
	color: rgba(255, 255, 255, 0.75);
	text-decoration: none;
}

/*#navbarSupportedContent > ul > li > a.nav-link.smoothScroll {
	color: rgba(225, 225, 225, 0.5);
}*/

.icon {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
	margin-left:-15px;
	top: 8px;
}

.icon a {
	color: white;
}

label {
	color: white;
}

.logo {
	/*width: 75%;*/
	height: auto;
	max-width: 800px;
}

.deadCenter {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.gray {
	background-color: #F5F5F5;
}

.lightblue {
	background-color: #0D2F3F;
}

.blue {
	background-color: #4679C3;
}

.darkblue {
	background-color: #0073ab;
}

.lightgreen {
	background-color: #0FCDAF;
}

.brightblue {
	background-color: #5396FF;
}

.email {
	color: #4D88E5;
}

.email:hover {
	color: #4679C3;
}

.alignCenter {
	text-align: center;
}

.text {
	margin-top: 25px;
	margin-bottom: 25px;
}

.whiteText {
	color: #ffffff;
}

.anchor {
	display: block;
	position: relative;
	top: -25px;
	visibility: hidden;
}

.navbar-toggler {
	height: 40px;
	border: none !important;
	background: transparent !important;
	outline: none !important;
}

.navbar-toggler:hover {
	cursor: pointer;
}

.navbar-toggler .icon-bar {
	width: 22px;
	height: 2px;
	display: block;
	margin-top: 4px;
	transition: all 0.2s;
	background-color: #fff;
}
.navbar-toggler .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
	opacity: 0;
}
.navbar-toggler .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: 10% 90%;
}
.navbar-toggler.collapsed .top-bar {
	transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
	opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
	transform: rotate(0);
}

@media (min-width: 768px) {
	.icon {
		left: 8px;
		transform: translate(0%, 0%);
		margin-left: 0px;
	}
	.navbar-nav {
		position: relative;
		width: 50%;
		min-width: 400px;
		display: inline-block;
		float: none;
	}
	.navbar .navbar-collapse {
		text-align: center;
	}
	ul li {
		display: inline;
		text-align: center;
	}
	.adjustLeft {
		text-align: left;
	}
	.text {
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.anchor {
		top: -50px;
	}
}

a[href*='000webhost'] {
    display: none;
}
