body {
	font-family: Quicksand, Roboto, sans-serif;
	position: relative;
/* 	background: #3a53a4; */
	width: 100%;
	overflow-x: hidden;
}

/* 
#page-content {
	background: white;
}
 */

.blue-header {
	color: #3a53a4;
	font-weight: bold;
}

.green-header {
	color: #78ced3;
	font-weight: bold;
}

.blue {
	background: #3a53a4;
	color: white;
}

.gray {
	color: #636261;
}

.headline {
	font-size: 20px;
}

.nav-btn, .nav-item {
	margin-left: 5px;
	margin-right: 5px;
}

.dropdown-toggle::after {
	display:none;
}

.dropdown-menu {
	margin-top: -2px;
}

.deadCenter {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.alignCenter {
	text-align: center;
}

div.break {
	height: 24px;
}

.footer .nav-link.active, .footer .nav-link:hover {
	color: white;
}

.footer .nav-link {
	color: #bbbaba;
}

hr {
	border: 1px solid #636261;
}

/* Signup modal */

.signup-btn, .signup-btn:hover {
	color: white;
	min-width: 100px;
	min-height: 100px;
}

.signup-btn.signup-teacher { background-color: #3fcbe0; border: 1px solid #2da7cc; }
.signup-btn.signup-teacher:hover { background-color: #2da7cc; }

.signup-btn.signup-administrator { background-color: #3aa5f7; border: 1px solid #3275c2; }
.signup-btn.signup-administrator:hover { background-color: #3275c2; }

.signup-btn.signup-institution { background-color: #2247b3; border: 1px solid #17277a; }
.signup-btn.signup-institution:hover { background-color: #17277a; }


.demo-btn, .green-btn { background: #6bcce0; border: none; }
.demo-btn:hover, .green-btn:hover { background: #3999ad; }

.dropdown-item:hover {
	color: #3a53a4;
	background: white;
}